/* ShoppingCart.css */


  
  button {
    margin-top: 80px;
    cursor: pointer;
    color: #4b4a4a;
    font-size: 12px;
  }
  
  button:hover {
    color: #000000;
  }

  .progress{
    margin-top: 110px;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: space-between;
    width: 800px; /* 假設容器寬度為 800 像素 */
    margin: 110px auto 0;
    color: #333;
    letter-spacing: 3px;
  }
  .progress-step.active {
    color: rgb(0, 0, 0); /* 設置文字顏色 */
    font-weight: bold; /* 加粗字體 */
    position: relative; /* 設置相對定位 */
}
.progress-step.active::after {
    content: ''; /* 添加偽元素的內容 */
    position: absolute; /* 設置絕對定位 */
    bottom: -2px; /* 距離底部的距離 */
    left: 0; /* 距離左邊的距離 */
    width: 100%; /* 橫線的寬度 */
    height: 2px; /* 橫線的高度 */
    background-color: rgb(0, 0, 0); /* 橫線的顏色 */
}

.horizontal-line {
    border-top: 2px solid #ccc;
    margin-top: 10px;
    margin-bottom: 30px;
}

.checkout-button {
    background-color: #020e1c; /* 背景顏色 */
    color: #fff; /* 文字顏色 */
    padding: 10px 20px; /* 內邊距 */
    border: none; /* 移除邊框 */
    cursor: pointer; /* 指示光標 */
    display: flex;
    width: 560px;
    justify-content: center; /* 將內容水平置中 */
    align-items: center; /* 將內容垂直置中 */
  
}

.checkout-button:hover {
    background-color: #000000; /* 滑鼠懸停時的背景顏色 */
    color: #fff; /* 文字顏色 */
}